{% if error %}
<div>{{ error }}</div>
{% endif %}
<form action="{{  url_for('register') }}" method="post">
    <dl>
        <dt>Username:</dt>
        <dd><input type="text" name="username"></dd>
        <dt>Password: </dt>
        <dd><input type="password" name="password"></dd>
        <dt>Confirm password:</dt>
        <dd><input type="password" name="password2"></dd>
        <dd><input type="text" name="nick"></dd>
        <dd>
            <select name="sexy">
                <option value="1" selected>男</option>
                <option value="0">女</option>
            </select>
        </dd>
        
        <dd><input type="submit" value="register"></dd>
    </dl>
</form>